.banner-principal-decorativo
  &-1
    animation: float1 3.0s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 58%
    width: 100px
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 78%
    width: 100px
  &-3
    animation: float1 2.0s ease-in-out infinite alternate
    position: absolute
    top: 54%
    right: 10%
    width: 100px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 53% !important
  @media screen and (max-width: $bp-max-md)
    width: 95% !important

.banner-principal__row .banner-principal__img
  width: 620px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
      padding-right: 5% !important
    h1, p
      color: $black
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
    h1, p
      color: $black
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important

.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #00A8FF !important


//INTRO

.bg1
  background-color: #DFF8FD


//TEMA1

.bloque-texto-g.color-primario 
  background-color: #E5F6FF

.fa-lightbulb:before 
  content: url('../assets/curso/tema1/ico.svg')

.bg2
  background-color: #E5F6FF
  border-radius: 14px

.tabla-a
  thead
    border-top: 6px solid #00A8FF
    color: black
    background-color: #E5F6FF
  th
    border-color: #E5F6FF
  table
    width: 100%
    table-layout: auto
    th, td
      overflow-wrap: break-word
      white-space: normal
      vertical-align: top
      text-align: left
  table th
    padding: 18px 15px
  table td 
    padding: 18px 15px

.tabla-a.tab2
  th:nth-child(1)
    width: 12%
  th:nth-child(2)
    width: 20%
  th:nth-child(3)
    width: 14%
  th:nth-child(4)
    width: 20%
  th:nth-child(5)
    width: 14%
  th:nth-child(6)
    width: 20%

.tabla-a.tab3
  th:nth-child(1)
    width: 20%
  th:nth-child(2)
    width: 20%
  th:nth-child(3)
    width: 23%
  th:nth-child(4)
    width: 17%
  th:nth-child(5)
    width: 20%

.tabla-a.tab4
  th:nth-child(1)
    width: 25%
  th:nth-child(2)
    width: 37%
  th:nth-child(3)
    width: 38%

.tabla-a.tabla-peq
  overflow-x: visible !important
  overflow: visible !important
  @media (max-width: 991px)
    overflow-x: auto !important
    -webkit-overflow-scrolling: touch !important
    display: block !important
  table
    min-width: auto !important
    width: 100% !important
    table-layout: auto !important
    @media (max-width: 991px)
      min-width: 500px !important 
  tbody
    td
      padding: 0.9rem 1rem !important
  thead
    th
      padding: 1.5rem 1rem !important 

.tabla-a.tabla-peq.tabla1
  th:nth-child(1)
    width: 30%
  th:nth-child(2)
    width: 70%

.left
  text-align: left

.bg3
  background-color: #E5F6FF

.titulo
  background-color: #E5F6FF
  border-radius: 50px 20px 20px 50px
  width: fit-content
  padding: 10px 30px 10px 50px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 30px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    padding: 10px 20px 10px 50px
    margin-left: 25px
  @media only screen and (max-width: 767px)
    padding: 8px 15px 8px 50px
    margin-left: 20px
    width: calc(100% - 20px)
    border-radius: 40px 15px 15px 40px
.titulo img
  width: 60px
  height: 60px
  position: absolute
  top: 31%
  left: -30px
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
    left: -25px
    top: 36%
  @media only screen and (max-width: 767px)
    width: 55px
    height: 55px
    left: -20px
    top: 50%


//TEMA2

.bloque-texto-g.color-secundario 
  background-color: #A6DBB1

.pasos-a__linea__esquina__linea 
    border: 3px solid
    width: 100%
    position: relative
    border-radius: 0px
.pasos-a.color-primario .pasos-a__circle 
    background-color: #00A8FF
.pasos-a.color-primario .pasos-a__circle div 
    color: black
.pasos-a.color-primario .pasos-a__numero::after
    border-left-color: #00A8FF
.pasos-a.color-primario .pasos-a__linea .hor-line 
    border-top-color: #00A8FF
.pasos-a.color-primario .pasos-a__linea__esquina__linea 
    border-color:#00A8FF
@media only screen and (max-width: 767px)
  .cel
    display: none
@media only screen and (min-width: 768px) and (max-width: 1023px)
  .cel
    display: none

.fa-check
  color: #00A8FF